asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.9
distlib==0.3.4
# Editable install with no version control (Django==4.0.1)
-e c:\users\georg\appdata\roaming\python\python310\site-packages
filelock==3.4.2
idna==3.3
Pillow==9.0.0
platformdirs==2.4.1
requests==2.26.0
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.7
virtualenv==20.13.0
whitenoise==5.3.0
